body, div, ul, li, p { margin:0; padding:0 }
img { border:0 }
li { list-style:none }
a img, img { -ms-interpolation-mode:bicubic }
body { font:12px/1.5 arial, helvetica, sans-serif; text-align:center; color:#333; background:#edf0eb; -webkit-font-smoothing:antialiased }
#bd { margin:auto;  width: 952px;height: 457px; text-align:left; zoom:1 }
a { color:#588c0e; text-decoration:none }
a:hover, a:active, a:focus { color:#588c0e; text-decoration:underline }
.cls { zoom:1 }
.share-item .share-items-hd {  width: 952px;height: 457px; margin:0 auto; overflow:hidden }
.share-item .share-items-hd li { float:left }
.share-item .share-items-hd li img { display:block; width: 952px;height: 457px; }
.share-item .share-items-bd { position:relative }
.share-item .share-items-bd .share-items-list { width:980px; overflow:hidden;position: absolute;left: 20px;bottom: 10px;z-index: 20;text-align: center;}
.share-item .share-items-bd .share-items-list ul { width:984px }
.share-item .share-items-bd .share-items-list li { width:10px; margin-right:4px; height:10px; overflow:hidden; background:#fff; text-align:center;display: inline-block;text-indent: 200px;}
.share-item .share-items-bd .share-items-list li a { color:#666; text-decoration:none; cursor:pointer }
.share-item .share-items-bd .share-items-list li .pic { width:10px; height:10px; border:1px solid #fff; background:#000; overflow:hidden }
.share-item .share-items-bd .share-items-list li img { display:block;width:10px; height:10px; }
.share-item .share-items-bd .share-items-list li p { height:20px; border-bottom:2px solid #fff; line-height:20px }
.share-item .share-items-bd .share-items-list li.selected{background: url(../images/doudou.png) left top no-repeat;}
.share-item .share-items-bd .share-items-list li.unselected{ background: url(../images/doudou_normal.png) left top no-repeat;}
.share-item .share-items-bd .share-items-list li a{
    display: none;
}
